:root{
  --main_color:#0046be ;
  --white_color:#fff;
  --black_color:#070707;
  --border-color:#0d6efd;
  --text-gray-color:#6c757d;
  --box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
  --main-transation: 300ms ease-in-out ;
  --seconed-color: #0078d7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a{
  text-decoration: none;
  transition: var(--main-transation);
  color: var(--seconed-color);
}
a:hover{
  text-decoration: underline;
  opacity: 0.8;
}


/* ========================================= Start Header ======================== */
.Logo{
  width: 90px;
  border-radius: 6px;
}
.aside-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: #63636370;
  display: none;
  z-index: 300;
  right: 0;

}
.aside-overlay .close{
  position: fixed;
  top: 40px;
  right: 20px;
  cursor: pointer;
  background: white;
  border: none;
  outline: none;
  font-size: 20px;
  color: var(--main_color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  z-index: 400;
}
/* @media screen and (max-width:500px){
  .aside-overlay .close{
    top: 20px;
  }
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main_color);
  color: var(--white_color);
  /* padding: 10px 20px; */
  flex-direction: column;
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
}
@media screen and (max-width:900px) {
  .header{
    justify-content: center;
  }
}
@media screen and (max-width:500px) {
  .header{
    justify-content: start;
    padding: 0;
  }
}

.main-header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main_color);
  color: var(--white_color);
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width:500px) {
  .main-header-content{
    flex-wrap: wrap;
    height: 100%;
  }
}

.logo {
  font-weight: bold;
  font-size: 20px;
  margin-right: 50px;
}

.menu-button {
  background: none;
  border: none;
  color: var(--white_color);
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 1px;

}

.menu-icon {
  display: inline-block;
  width: 20px;
  height: 15px;
  position: relative;
}

.menu-icon::before,
.menu-icon::after
{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: var(--white_color);
  margin: 3px 0;
  border-radius: 2px;
}

.search-bar-container {
  position: relative;
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar {
  width: 100%;
  padding: 8px 40px 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: var(--box-shadow) ;
}
.search-bar:focus{
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color:var(--black_color);
}

.header-icons {
  font-size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}


.header-icons .cart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-icons .cart i{
  color: var(--white_color);
}

.header-icons .icon {
  width: 25px;
  height: 25px;
  display: block;
}

.navbar {
  background-color: var(--main_color);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  gap: 30px;
}

@media screen and (max-width:900px) {
  .navbar{
    display: none;
  }
}
.navbar > *{
  text-align: center;
  justify-self: center;
  margin: auto 3px;

}

.navbar .links{
  color: var(--white_color);
  text-decoration: none;
}



.dropdown {
  position: relative;
  display: inline-block;
  transition: var(--main-transation) !important;
  transition-delay: 2s;
  text-wrap-mode: nowrap;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white_color);
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  margin-top: 5px;

  transition-delay: 2s;
}


.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ccc;
  transition-delay: 2s;


}

/* عند مرور الماوس على الزر، إظهار المحتوى */
.dropdown:hover .dropdown-content {
  display: block;

  transition-delay: 2s;
}


.menu-button {
  font-size: 18px;
  color: var(--white_color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar {
  width: 250px;
  background-color: var(--white_color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  left: -500px;
  transition: left 0.3s ease;
  z-index: -1;
  height: 100%;
  top: 120px;
}
@media screen and (max-width:500px) {
  .sidebar{
    width: 100%;
  }
}

.sidebar.active {
  left: 0;
  z-index: 400;
}

.menu-section {
  padding: 20px;
  border-bottom: 1px solid var(--white_color);
}

.menu-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: var(--main_color);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 14px;
}

.menu-item:hover {
  background-color:var(--white_color);
}

.DropDown  > .menu-item::after {
  content: '\f0da';
  float: right;
  color: #aaa;
  font-family: FontAwesome;
}
.DropDown.active > .menu-item::after{
  content: '\f0d7';
}
.DropDown.active > .menu-item{
  border-bottom: 1px solid #0000000d;
}
.DropDown.active{
  box-shadow: #0000000d 0px 0px 0px 1px;
}

.submenu{
  display: none;
  padding-left: 15px;


}

.DropDown.active .submenu{
  display: block;
}
.DropDown.active .submenu .menu-item{
  transition: var(--main-transation);
  transition-duration: 500ms;
  position: relative;
}
.DropDown.active .submenu .menu-item::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 3px;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: var(--main_color);
  border-radius: 50%;
  z-index: -999;
}
.DropDown.active .submenu .menu-item:hover{
  transition-duration: 500ms;
  position: relative;
  left: 12px;
}
/* ========================================= End Header  ====================================================*/


.main-content{
  padding-top: 130px;
  padding-bottom: 50px;
}


/* ============================================== Start  Form ============================================= */
.form-container{
  margin-top: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--box-shadow)
}
.form-title{
  color: var(--main_color);
  text-align: center;
  margin-bottom: 30px;
}

.password-with-icon{
  position: relative;
  width: 100%;
}
.password-with-icon .eye{
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(-50%, -50%);
  font-size: 16px;
  cursor: pointer;
}
/* ============================================== End  Form ============================================= */



/* ============================================= Start Footer ================================= */



footer {
  background-color:var(--gray-bg);
  padding: 20px 40px;
  color: #333;
  border-top: 1px solid;
}



.footer-section {
  text-align: center;
}
.footer-sgin-in{
  background: white;
  padding: 10px;
  border-radius: 8px;
}
footer .icon{
  font-size: 40px;
  color: rgb(173, 163, 163);
  margin-bottom: 10px;
}



/* .footer-bottom {
  display: flex;
  justify-content: space-between;
} */

.footer-column {
  text-align: center;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}


.footer-column input[type="email"]{
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer-column input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}


.social-icon {
font-size: 24px;
color: #007bff;
text-decoration: none;
margin-top: 15px;
display: flex;
gap: 20px;
justify-content: center;
}

.social-icons a:hover {
color: #0056b3;
}
.link:hover{
text-decoration: underline;
}

.footer-Email{
background: white;
padding: 10px;
border-radius: 8px;
}

/* ============================================= End Footer ================================= */

